Options -indexes
RewriteEngine On
RewriteBase /gallery-project/reactpanel/
RewriteRule ^liste/(.*)$ index.php?sayfa=liste&tablo=$1 [NC]
RewriteRule ^modul-ekle$ index.php?sayfa=modul-ekle [NC]
RewriteRule ^urun-ekle$ index.php?sayfa=urun-ekle [NC]
RewriteRule ^ekle/(.*)$ index.php?sayfa=ekle&tablo=$1 [NC]
RewriteRule ^duzenle/(.*)/(.*)$ index.php?sayfa=duzenle&tablo=$1&ID=$2 [NC]
RewriteRule ^sil/(.*)/(.*)/(.*)$ index.php?sayfa=sil&tablo=$1&ID=$2&resim=$3 [NC]
RewriteRule ^seo-ayarlari$ index.php?sayfa=seo-ayarlari [NC]
RewriteRule ^iletisim-ayarlari$ index.php?sayfa=iletisim-ayarlari [NC]
RewriteRule ^giris-yap$ login.php [NC]
RewriteRule ^cikis$ index.php?sayfa=cikis [NC]